@import "normalize.css";
@import "fonts.css";
@import "media.css";

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

a {
  text-decoration: none;
}

html {
  font-family: "Inter", sans-serif;
}

:root {
  --light-color: #f5f5f7;
  --dark-color: #221f20;
  --container-padding-inline: 13%;
  --footer-padding-inline: 10%;
}

.title {
  font-size: 60px;
  font-weight: 400;
  color: var(--dark-color);
}

.title_uppercase-white {
  text-transform: uppercase;
  color: var(--light-color);
}

.title_small-italic {
  font-size: 12px;
  font-style: italic;
}

.title_medium {
  text-align: center;
  font-size: 40px;
  &::after {
    content: "";
    position: absolute;
    top: 48px;
    transform: translateX(-75px);
    border: 1px solid #000;
    width: 75px;
  }
}

.container {
  position: relative;
  /* margin: 0 auto; */
  /* max-width: 1920px; */
  padding: 0 var(--container-padding-inline);
}

.promo {
  padding-top: 75px;
  min-height: 100vh;
  background: url(../img/Bg.jpg) center center / cover no-repeat;
}

.promo__subtitle {
  margin-top: 124px;
  font-weight: 100;
  font-size: 32px;
  color: var(--light-color);
}

.btn {
  margin-top: 20px;
  padding: 3px 10px;
  width: 160px;
  min-height: 38px;
  border: 1px solid var(--light-color);
  font-size: 16px;
  font-weight: 100;
  background: rgba(217, 217, 217, 0);
  color: var(--light-color);
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 5px 5px 10px 0 rgba(255, 255, 255, 0.62);
    font-weight: 500;
    cursor: pointer;
  }
}

.promo__contacts {
  position: relative;
  margin-top: 100px;
  display: block;
  font-weight: 100;
  font-size: 16px;
  font-style: normal;
  color: var(--light-color);
  a {
    color: var(--light-color);
  }
  .promo__address {
    font-style: normal;
  }
}

.promo__arrow {
  position: absolute;
  left: -45px;
  top: -17px;
}

.promo__catigories-container {
  position: absolute;
  top: calc(100vh - 20px);
  left: 0;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0.12) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

.promo__catigories-wrap {
  margin: 0 auto;
  /* max-width: 1200px; */
  padding: 0 18.75%;

  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  list-style-type: none;
}

.promo__catigories-item {
  font-weight: 100;
  font-size: 10px;
  color: var(--light-color);
}

.info {
  padding-top: 80px;
  min-height: 507px;
  background-color: var(--light-color);
}

.info__wrapper {
  margin-top: 20px;
  display: grid;
  grid-template: repeat(2, minmax(120px, auto)) / repeat(2, minmax(auto, 1fr));
  gap: 80px 30px;
}

.info__item-prioritize {
  grid-column: 1 / 3;
  max-width: 1110px;
  font-weight: 400;
  font-size: 40px;
  color: var(--dark-color);
  span {
    color: #a5a5a5;
  }
}

.services__title {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-color);
}

.services__wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

.services__item {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-color);
}

.services__item-img {
  position: absolute;
  left: -30px;
}

.info__item-descr {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.02em;
}

.works {
  padding-top: 80px;
  background-color: var(--light-color);
}

.works__grid {
  margin-top: 53px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template: auto / repeat(2, 1fr); */
  gap: 50px 30px;
}

.works__img {
  width: 100%;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.inspirations {
  padding-top: 80px;
  background-color: var(--light-color);
}

.inspirations__wrapper {
  margin-top: 53px;
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 30px;
}

.inspirations__img {
  width: 100%;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.long-item {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.high-item {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}

.customers {
  padding: 80px 0 100px 0;
  background-color: var(--light-color);
}

.customers__wrapper {
  margin-top: 53px;
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 30px;
}

.customers__img {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.footer {
  padding: 0 var(--footer-padding-inline);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 200px;
  background: #000;
}

.footer_socials {
  display: flex;
  gap: 30px;
}

.social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-color);
  width: 32px;
  height: 32px;
}

.social-logo {
  width: 22px;
  height: 22px;
}

.address,
.phone {
  font-weight: 400;
  font-size: 20px;
  color: var(--light-color);
}
